* {
    box-sizing: border-box;
}

.tg {
    display: flex;
    flex-direction: column-reverse;
}

body {
    background-image: url(1625653809_27-kartinkin-com-p-akatsuki-oboi-krasivie-28.jpg);
    margin: 0;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

header.navbar.navbar-expand-lg.navbar-dark {
    order: 3;
    background-color: #000000;
    -webkit-box-shadow: 0px 20px 30px 20px #640101a1;
    -moz-box-shadow: 0px 20px 30px 20px #640101a1;
    box-shadow: 0px 20px 30px 20px #640101a1;
}

nav.navbar.navbar-expand-lg.bg-body-orange {
    background-color: rgba(240, 248, 255, 0);
}

em {
    color: white;
}

div.wrap3.lh-lg.font-monospace {
    padding: 10px;
    margin: 300px 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 100px rgb(184, 2, 2);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #000000;
}


div.footer-bg-lg {

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background: #000000;
    background: -webkit-radial-gradient(circle farthest-side at top center, #000000 10%, #000000 100%);
    background: -moz-radial-gradient(circle farthest-side at top center, #000000 10%, #000000 100%);
    background: radial-gradient(circle farthest-side at top center, #000000 10%, #000000 100%);
    color: #ffffff;
}


@media screen and (min-width: 415px) {
    body {
        background-image: url(1625653809_27-kartinkin-com-p-akatsuki-oboi-krasivie-28.jpg);
        margin: 0;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }

    div.footer-bg-lg {

        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        background: #000000;
        background: -webkit-radial-gradient(circle farthest-side at top center, #000000 10%, #000000 100%);
        background: -moz-radial-gradient(circle farthest-side at top center, #000000 10%, #000000 100%);
        background: radial-gradient(circle farthest-side at top center, #000000 10%, #000000 100%);
        color: #ffffff;
    }

    div.wrap3.lh-lg.font-monospace {
        order: 2;
        padding: 50px;
        margin: 300px 600px;
        width: 800px;
        border-radius: 10px;
        box-shadow: 0px 0px 100px rgb(184, 2, 2);
        background-color: #000000;
    }
}